
import(OpenMx)
importFrom("methods", "slot")
importFrom("stats", "cov", "mean", "lm", "model.matrix", "model.response",
           "na.pass")

exportPattern("^[[:alpha:]]+")
#exportPattern("^emx.+")
